@import url("https://fonts.googleapis.com/css2?family=Anton+SC&family=Audiowide&family=Dancing+Script:wght@400..700&family=Jaro:opsz@6..72&family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Saira+Stencil+One&display=swap");

/* background-color: #070612; */
/* font-family: "Jaro", sans-serif; */
/* font-family: "Nunito Sans", sans-serif; */
/* #070612 */

.home-outermost-container {
	box-sizing: border-box;
	padding: 50px;
	color: white;
	background-color: red;
	height: 90vh;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	overflow: hidden;
	width: 100%;
}

.home-art-panel {
	font-family: "Jaro", sans-serif;
	font-size: 20rem;
	color: #070612;
	z-index: 30;
	user-select: none;
	text-shadow: 5px 5px 0 red;
}

.home-art-panel::before {
	content: ".";
	color: antiquewhite;
	height: 50px;
	text-shadow: none;
	user-select: none;
}

.home-X-panel {
	font-family: "Nunito Sans", sans-serif;
	font-size: 43rem;
	color: transparent;
	position: absolute;
	font-weight: 800;
	z-index: 20;
	background-image: url("./../assets/ocean.avif");
	background-size: cover;
	background-clip: text;
	-webkit-background-clip: text;
	top: -3rem;
	user-select: none;
}

.home-X-panel-shadow {
	font-family: "Nunito Sans", sans-serif;
	font-size: 43rem;
	position: absolute;
	font-weight: 800;
	color: transparent;
	z-index: 10;
	text-shadow: -15px -10px 0px rgb(255, 255, 255);
	top: -3rem;
	user-select: none;
}

.home-change-panel {
	box-sizing: border-box;
	font-family: "Anton SC", cursive;
	font-style: italic;
	font-size: 11rem;
	color: red;
	-webkit-text-stroke: 5px rgb(255, 255, 255);
	padding-top: 5rem;
	user-select: none;
}

.home_page_quote {
	left: 1%;
	position: absolute;
	bottom: 2%;
	font-size: 45px;
	z-index: 22;
	box-sizing: border-box;
	padding: 8px;
	font-family: "Saira Stencil One", sans-serif;
	border: black 2px solid;
	line-height: 40px;
	box-shadow: 3px 3px 0px cyan, 6px 6px 0px rgb(0, 0, 0);
	transition: all 0.3s;
	user-select: none;
}
