.PanelType2_outermost_container {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: end;
	margin-bottom: 50px;
	position: relative;
}

.PanelType2_outer_container {
	box-sizing: border-box;
	width: 85%;
	border-top-left-radius: 250px;
	border-bottom-left-radius: 250px;
	background: transparent;
	border: red solid 5px;
	border-right: 0;
	display: flex;
	justify-content: flex-end;
	padding: 20px;
}
.Panel_type2_before {
	height: 50px;
	width: 50px;
	background-color: red;
	position: absolute;
	z-index: 12;
	top: -50px;
}

.Panel_type2_before::after {
	content: " ";
	position: absolute;
	height: 50px;
	width: 50px;
	background-color: #070612;
	z-index: 13;
	border-bottom-right-radius: 50px;
}

.Panel_type2_after {
	height: 50px;
	width: 50px;
	background-color: red;
	position: absolute;
	z-index: 12;
	bottom: -50px;
}

.Panel_type2_after::after {
	content: " ";
	position: absolute;
	height: 50px;
	width: 50px;
	background-color: #070612;
	z-index: 13;
	border-top-right-radius: 50px;
}

@media screen and (max-width: 1350px) {
	.PanelType2_outer_container {
		width: 85%;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
	}
}

@media screen and (max-width: 1065px) {
	.PanelType2_outer_container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		background: transparent;
		border: red solid 5px;
		border-right: 0;
		gap: 20px;
	}
}

@media screen and (max-width: 650px) {
	.PanelType2_outer_container {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		background: transparent;
		border: red solid 5px;
		border-right: 0;
		gap: 20px;
	}
}
