/* #070612 */
@import url("https://fonts.googleapis.com/css2?family=Anton+SC&family=Audiowide&family=Dancing+Script:wght@400..700&family=Jaro:opsz@6..72&family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

.product_card_outermost_container {
	box-sizing: border-box;
	border: #070612 solid 4px;
	overflow: hidden;
	padding: 10px;
	border-radius: 15px;
	margin-left: 25px;
	width: auto;
	background-color: #f5b8d4;
	box-shadow: 6px 6px 0 #00000035;
	transition: all 0.2s;
    max-width: 256px;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product_card_outermost_container:hover {
	transform: translate(4px, 4px);
	box-shadow: 2px 02px 0 #00000035;
}

.product_card_outermost_container .product_card_image img {
	max-height: 250px;
	width: 225px;
	object-fit: cover;
	object-position: center top;
	border-radius: 10px;
	box-sizing: border-box;
    border: solid 2px #000000;
}

.product_card_top_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6px;
    box-sizing: border-box;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: solid black 2px;
}

.product_card_top_header .product_card_name {
	font-family: "Audiowide", Arial, Helvetica, sans-serif;
	font-style: italic;
    text-shadow: 1px 1px 0 #00000035;
}


.product_card_top_header .product_card_price {
	font-family: "Audiowide", Arial, Helvetica, sans-serif;
	font-style: italic;
    text-shadow: 1px 1px 0 #00000035;
    font-size: 14px;
    padding-left: 5px;
}

.product_card_rating_outercontainer{
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
    padding: 5px;
    justify-content: end;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    align-self: flex-end;
    border: solid black 2px;
}

.product_card_rating_outercontainer img{
    height: 15px;
    user-select: none;
}

.product_card_rating_outercontainer span{
    margin-left: 5px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.866);
    font-family: "audiowide", Arial, Helvetica, sans-serif;
}
