.skeleton-product_card_outermost_container {
	box-sizing: border-box;
	border: #070612 solid 4px;
	overflow: hidden;
	padding: 10px;
	border-radius: 15px;
	margin-left: 25px;
	width: auto;
	background-color: #f5b8d4;
	box-shadow: 6px 6px 0 #00000035;
	transition: all 0.2s;
	max-width: 256px;
	height: 360px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.skeleton-product_card_outermost_container:hover {
	transform: translate(4px, 4px);
	box-shadow: 2px 02px 0 #00000035;
}

.skeleton-product_card_outermost_container .skeleton-product_card_image {
	height: 250px;
	width: 225px;
	object-fit: cover;
	object-position: center top;
	border-radius: 10px;
	box-sizing: border-box;
	background: #00000074;
	border: solid 2px #00000074;
    animation: pulse 1.5s infinite ease-in-out;
}

.skeleton-product_card_top_header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 6px;
	box-sizing: border-box;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border: solid #00000074 2px;
	height: 24px;
	box-sizing: border-box;
	background: #00000074;
    animation: pulse 1.5s infinite ease-in-out;
}

.skeleton-product_card_rating_outercontainer {
	overflow: hidden;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 5px;
	padding: 5px;
	justify-content: end;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	align-self: flex-end;
	border: solid #00000074 2px;
	height: 24px;
	background: #00000074;
    animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
	0% {
		background-color: #4f393974;
	}
	50% {
		background-color: #9292928e;
	}
	100% {
		background-color: #4f393974;
	}
}
