.product_catalogue_outermost_container {
	background-color: #070612;
	padding-top: 50px;
	display: flex;
	flex-direction: column;
}

.product_catalogue_outermost_container::before {
	box-sizing: border-box;
	content: " ";
	height: 50px;
	width: 100%;
	padding: 50px;
	background: linear-gradient(
		to top,
		#070612,
		#320a0a,
		rgb(171, 6, 6),
		rgba(255, 0, 0)
	);
	display: block;
	position: relative;
	top: -75px;
	z-index: 21;
}

.product_catalogue_search_bar_container {
	box-sizing: border-box;
	height: 65px;
	background-color: transparent;
	width: 100%;
	margin-bottom: 50px;
	align-items: end;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.product_catalogue_search_bar_container input {
	background: transparent;
	box-sizing: border-box;
	padding: 10px;
	border-radius: 500px;
	min-width: 50%;
	border: solid white 5px;
	color: white;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-right: none;
}

.product_catalogue_search_bar_container input:focus {
	outline: none;
	box-shadow:  0 0 20px rgba(255, 255, 255, 0.281);
}

.table-pagination-container {
	padding: 0 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 15px;
	margin-bottom : 50px;
}

.table-pagination {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: auto;
	border: orange solid 2px;
	padding: 5px 10px;
	border-radius: 100px;
}

.table-pagination p {
	padding: 0 10px;
	margin: 0 5px;
	text-wrap: nowrap;
	width: auto;
	color: white;
	font-family: "Audiowide", Arial, Helvetica, sans-serif;
}

.table-pagination button {
	background: transparent;
	cursor: pointer;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.table-pagination button img {
	height: 25px;
}